<style>
textarea {
	resize: none;
}
</style>

<div class="forMedia">
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard">Dashboard<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li class="active"><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#" ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs"
	style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12"
		style="margin-top: 3%; font-size: xx-large; padding-right: 8%;">
		<b>Blogging</b>
	</div>
</div>
<div class="row" ng-controller="blogCtrl" align="center" >
	<div
		class="col-xs-11 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="margin-left: 8%;" >
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				<div class="row">
					<a href="#/postBlogs">My Blogs / Post Blogs</a>
				</div>
				<div class="row">
					<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 cardsBack" style="padding: 0px;" ng-repeat="userid in posts">
						<div ng-repeat="post2 in userid">
							<div
								style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
								align="center">
								<b>{{post2.title}}</b>
							</div>
							{{post2.content}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Reminders</b>
						</div>
						<div id="calendar"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Alerts</b>
						</div>
						<div style="max-height: 270px; overflow-y:scroll;padding: 0px;">
							<div id="alertsss" class="alertsMainDiv" align="left" ng-repeat="alerts in alertObj">
								<b>{{alerts.subjects}}</b>
								<div class="alertsInsidDiv" align="center">
									<b>{{alerts.times}}</b>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
