<style>
textarea {
	resize: none;
}
</style>

<div class="forMedia">
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard">Dashboard<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li class="active"><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#"
						ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs"
	style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12"
		style="margin-top: 3%; font-size: xx-large; padding-right: 8%;">
		<b>Post Blog</b>
	</div>
</div>
<div class="row" ng-controller="postblog">
	<div
		class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
		style="margin-left: 5%;">
		<div class="row">
			<form role="form" name="postBlogForm">
				<div class="col-xs-10 col-sm-7 col-md-7 col-lg-7" align="center">
					<a href="#/blogging">Read Blogs</a>
					<div class="row">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 cardsBack"
							style="padding: 0px;">
							<div
								style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
								align="center">
								<b>Post Your Blog</b>
							</div>
							<div class="form-group">
								<label for="usr">Post Title :</label> <input type="text"
									class="form-control" ng-model="posttitle" name="posttitle"
									required ng-minlength="2" />
							</div>
							<div class="form-group">
								<label for="comment">Content:</label>
								<textarea class="form-control" rows="5" ng-model="postcontent"
									name="postcontent" required ng-minlength="25"></textarea>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span style="color: red;"
									ng-show="postBlogForm.posttitle.$dirty && postBlogForm.posttitle.$error.required">Please
									Enter Title.</span><span style="color: red;" 
									ng-show="postBlogForm.postcontent.$dirty && postBlogForm.postcontent.$error.required">Please
									enter minimum 25 characters. </span> <span style="color: green;">{{successBlog}}</span>
								<span style="color: red;">{{errorBlog}}</span>
							</div>

							<button type="button" class="btn btn-primary"
								ng-click="postBlog($event)" ng-disabled="postBlogForm.$invalid">Post</button>

						</div>
					</div>
				</div>
			</form>
			<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Reminders</b>
						</div>
						<div id="calendar"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Alerts</b>
						</div>
						<div style="max-height: 270px; overflow-y: scroll; padding: 0px;">
							<div id="alertsss" class="alertsMainDiv" align="left"
								ng-repeat="alerts in alertObj">
								<b>{{alerts.subjects}}</b>
								<div class="alertsInsidDiv" align="center">
									<b>{{alerts.times}}</b>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<hr width="100%" style="color: red; background-color: red;">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 cardsBack"
				ng-repeat="post in posts" style="padding: 0px;">
				<div
					style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
					align="center">
					<b>{{post.title}}</b>
				</div>
				{{post.content}}
				<div align="right">
					<button ng-click="posts.$remove(post)">
						<br> <i class="fa fa-trash-o" aria-hidden="true"
							style="color: red;"></i>
					</button>
				</div>
			</div>


		</div>
	</div>
</div>

