
<div class="forMedia">
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard">Dashboard<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="active"><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
							<li><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#" ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs" style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12" style="margin-top: 3%;font-size: xx-large;padding-right: 8%;">
		<b>DashBoard</b>
	</div>
</div>
<div class="row">
	<div
		class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
		ng-controller="rptshareCtrl">

		<div class="row">
			<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 cardsBack"
				style="padding: 0px;">
				<div
					style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
					align="center">Insulin</div>
				<canvas id="line" class="chart chart-line" chart-data="dataInsulin"
					chart-labels="labelsInsulin" chart-legend="true"
					chart-series="seriesInsulin" chart-click="onClick" height="200" width="800">
				</canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 cardsBack"
				style="padding: 0px;">
				<div
					style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
					align="center">Sugar Levels</div>
				<canvas id="line2" class="chart chart-line" chart-data="dataSugar"
					chart-labels="labelsSugar" chart-legend="true"
					chart-series="seriesSugar" chart-click="onClick" height="200" width="800">
				</canvas>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 cardsBack"
				style="padding: 0px;">
				<div
					style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
					align="center">Blood Pressure</div>
				<canvas id="bar" class="chart chart-bar" chart-data="dataBP"
					chart-labels="labelsBP" chart-legend="true" chart-series="seriesBP"
					chart-click="onClick" height="200" width="800">
				</canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 cardsBack"
				style="padding: 0px;">
				<div
					style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
					align="center">Hourly Reports</div>
				<canvas id="doughnut" class="chart chart-doughnut" chart-data="data"
					chart-labels="labels" height="200" width="800">
				</canvas>
			</div>
		</div>
	</div>
</div>