.backgroundImg {
	background-image: url("../img/violet-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.biglogo {
	content: url("../img/slogo.png");
	width: 140px;
	height: 62px
}

.trasparentbg {
	background: transparent;
}

.menubox {
	border: 1px solid yellow;
	color: white;
	background-color: green;
}

.fixedRow {
	position: fixed;
}

.mainPage {
	background-image: url("../img/slide1.jpg");
	display: block;
	background-repeat: no-repeat;
	height: 600px;
	background-size: 100% 100%;
	position: relative;
}

.fixed {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.menuBackground {
	font-family: inherit;
	font-size: medium;
	text-shadow: orange;
	color: white;
}

.imgText {
	position: absolute;
	text-align: center;
	padding-top: 4%;
	padding-left: 28%;
	margin-left: 35%;
	margin-top: 13%;
	background-color: black;
	opacity: 0.6;
}

.imgText2 {
	position: absolute;
	text-align: center;
	margin-left: 30%;
	margin-top: 17%;
	color: white;
	font-size: 50px;
	text-shadow: orange;
}

.imgText3 {
	position: absolute;
	text-align: center;
	margin-left: 43%;
	margin-top: 35%;
	color: white;
	font-size: 30px;
	background-color: #FFC300;
}

p {
	position: absolute;
	left: 0;
	top: 0;
}

span {
	color: #337AB7;
	/* font-size: 30px; */
	font-weight: bold;
	/* position: relative;
	position: absolute; */
	z-index: 9999;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(13px);
	filter: blur(0px);
}

h1 {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0
		#b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px
		rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px
		rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px
		rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h3 {
	color: buttonface;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.rcorners1 {
	border-radius: 25px;
	background: #73AD21;
	padding: 25%;
}

.personDevv {
	height: 10%;
	width: 100%;
	padding: 5%;
	background-color: buttonface;
	margin: 3%;
}

.footerCss {
	width: 100%;
	height: 30%;
	/* background-color: #222; */
	/* background-color: white; */
	background-color: buttonface;
	margin-top: 2%;
	text-align: center;
	margin-top: 2%;
	/* color: black; */
}

.footerBotCss {
	background-color: #333;
	color: white;
	padding: 1%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.prodFeatures {
	width: 100%;
	height: auto;
	-webkit-box-shadow: 0px 0px 35px 1px rgba(231, 166, 26, 0.96);
	-moz-box-shadow: 0px 0px 35px 1px rgba(231, 166, 26, 0.96);
	box-shadow: 0px 0px 35px 1px rgba(231, 166, 26, 0.96);
}

.prodTitle {
	text-align: center;
	text-transform: capitalize;
	background-color: #FF7600;
	color: white;
}

.prodBody {
	text-align: center;
	background-color: buttonface;
}

.imgcircle {
	border-radius: 31%;
	width: 50%;
}
.cardsBack{
	background-color: white;
	border: 1px solid #00BCA4;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
	 margin: 1%;
}
.alertsMainDiv{
	border: 1px solid #337AB7;
    padding: 1%;
    margin: 1%;
    color: #337AB7;
    overflow: auto;
}
.alertsInsidDiv{
	background-color: #337AB7;
	color: white;
	margin: 1%;
	padding: 1%;
	float: right;
}