.heddingBg {
	background-color: buttonface;
	padding: 1%;
}

.positing {
	position: absolute;
	z-index: 2000;
}

.forMedia {
	position: absolute;
	z-index: 1;
}

.formBackGrnd{
	background-color: rgb(226, 207, 181);
	color: black;
}
