

<style>
.divShadow {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-align: center;
	background-color: darkkhaki;
}

body {
	position: relative;
}

#section1 {
	padding-top: 50px;
	height: 500px;
	color: #fff;
	background-color: #1E88E5;
}

/* img {
	width: 100%;
	height: auto;
} */
#home {
	background: url('assets/img/view.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 100px 0 260px 0;
	background-size: cover;
}

#product {
	background: url('assets/img/wood.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 100px 0 260px 0;
	background-size: cover;
}

#aboutus {
	background: url('assets/img/backDev.png') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 100px 0 260px 0;
	background-size: cover;
}

#contactus {
	padding-top: 50px;
	height: 381px;
	color: #fff;
	background-color: olive;
}

.devNames {
	font-family: "Wellfleet";
	margin: 70px 0 0 75px;
	color: #fff;
	font-size: 20px;
}

img[Attributes Style] {
	float: left;
	vertical-align: top;
}

.heading1 {
	font-family: "Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

@media ( max-width :3854px) {
	.loginDiv {
		position: fixed;
		margin-top: 3%;
		text-align: right;
		width: 100%;
		height: auto;
	}
}

@media ( max-width :2560px) {
	.loginDiv {
		position: fixed;
		margin-top: 4%;
		text-align: right;
		width: 100%;
		height: auto;
	}
}

@media ( max-width :1200px) {
	.loginDiv {
		position: fixed;
		margin-top: 5%;
		text-align: right;
		width: 100%;
		height: auto;
	}
}

@media ( max-width :991px) {
	.loginDiv {
		position: fixed;
		margin-top: 7%;
		text-align: right;
		width: 100%;
		height: auto;
	}
}

@media ( max-width :768px) {
}

@media ( max-width :668px) {
}

@media ( max-width :640px) {
	.loginDiv {
		position: fixed;
		margin-top: 18%;
		text-align: right;
		width: 100%;
		height: auto;
	}
}

@media ( max-width :375px) {
}
</style>


<div ng-controller="MyCtrl">

	<nav class="navbar navbar-inverse navbar-fixed-top"
		style="background-color: olive;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="color: white;">DiaMetrix</a>
			</div>
			<div style="margin-left: 58%;">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a style="color: white;" du-smooth-scroll="home"
							du-scrollspy>Home</a></li>
						<li><a style="color: white;" du-smooth-scroll="product"
							du-scrollspy>Product</a></li>
						<li><a style="color: white;" du-smooth-scroll="aboutus"
							du-scrollspy>About Us</a></li>
						<li><a style="color: white;" du-smooth-scroll="contactus"
							du-scrollspy>Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="row loginDiv">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
			<a href="#" data-toggle="modal" data-target="#myModal"
				style="color: #FFC300;"><b> <i class="fa fa-user fa-3x"
					aria-hidden="true"></i>
			</b></a>
		</div>
	</div>
	<div id="home" class="container-fluid">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
				<h1 class="heading1">Welcome</h1>
				<small>
					<h4 style="width: 50%; margin-top: 2%;">
						<b><i style="color: white;">- so glad you are here.</i></b>
					</h4>
				</small>
			</div>
		</div>
		<div class="row" style="margin-top: 17%;" align="center">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<a href="#product"> <small>
						<h4 style="width: 50%; margin-top: 2%;">
							<b><i>Learn More</i></b>
						</h4>
				</small> <i class="fa fa-chevron-circle-down fa-4x" aria-hidden="true"></i>
				</a>
			</div>
		</div>

	</div>
	<div class="container-fluid">
		<section id="product">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
					<div style="border-bottom: none; color: white">
						<h1 class="heading1">Diametrix</h1>
						<small class="hidden-xs">
							<h4 style="width: 50%; margin-top: 2%;">
								<b><i style="color: white;">"An alert to a safer
										lifestyle by providing the best care to every patient through
										integrated tracking and education."</i></b>
							</h4>
						</small>

					</div>
				</div>
			</div>

			<div class="row" align="center" style="margin-top: 2%;">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="row divShadow">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-clock-o fa-5x" aria-hidden="true"
								style="color: darkgoldenrod;"></i>
							<div class="row productCss">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
									style="color: rgb(55, 55, 60); display: inline-block; vertical-align: middle;">
									<h5>
										<b><i>Give me some 3 line info</i></b> <br> <br> <br>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="row divShadow">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-bar-chart fa-5x" aria-hidden="true"
								style="color: darkgoldenrod;"></i>
							<div class="row productCss">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
									style="color: rgb(55, 55, 60);">
									<h5>
										<b><i>Give me some 3 line info</i></b> <br> <br> <br>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="row divShadow">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-commenting fa-5x" aria-hidden="true"
								style="color: darkgoldenrod;"></i>
							<div class="row productCss">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
									style="color: rgb(55, 55, 60);">
									<h5>
										<b><i>Give me some 3 line info</i></b> <br> <br> <br>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>
	<div id="aboutus" class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
				<h1 class="heading1" style="color: white;">Behind The Scenes</h1>
			</div>
		</div>
		<div class="visible-xs" style="margin-top: 10%;">
			<div class="row" align="center">
				<div class="col-xs-6">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Vaibhav Sakharkar</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>
				<div class="col-xs-6">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Namrath Jain</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>
				<div class="col-xs-6">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Rian Pallan</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>
				<div class="col-xs-6">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Vidhya Ramaprasad</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>
				<div class="col-xs-6">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Mayank Singh</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>
				<div class="col-xs-6">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Divya C.</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>
				<div class="col-xs-12">
					<h4 style="width: 50%; margin-top: 2%; color: white;">
						<b>Ankush Charan</b>
					</h4>
					<h5 style="color: white;">
						<b><i>Student</i></b>
					</h5>
				</div>

			</div>
		</div>
		<div style="margin-left: 15%; margin-top: 2%;" class="hidden-xs">
			<div class="row">
				<div
					class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
					align="center">
					<div>
						<img src="assets/img/dev/vb.JPG" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Vaibhav Sakharkar</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" align="center">
					<div>
						<img src="assets/img/dev/nj.jpg" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Namrata Jain</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" align="center">
					<div>
						<img src="assets/img/dev/rp.jpg" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Rian Pallann</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" align="center">
					<div>
						<img src="assets/img/dev/vd.png" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Vidhya Ramaprasad</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 2%;">
				<div
					class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2"
					align="center">
					<div>
						<img src="assets/img/dev/mk.jpg" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Mayank Singh</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" align="center">
					<div>
						<img src="assets/img/dev/dv.png" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Divya C.</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" align="center">
					<div>
						<img src="assets/img/dev/ak.JPG" class="img-thumbnail"
							alt="Cinque Terre" width="115px" height="130px"> <br>
						<h4 style="width: 50%; margin-top: 2%; color: white;">
							<b>Ankush Charan</b>
						</h4>
						<h5 style="color: white;">
							<b><i>Student</i></b>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="contactus" class="container-fluid">
		<div class="row" align="center">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="color: white; padding: 3%;">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img src="assets/img/srh.png" width="100%" height="auto">
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<h3>Developed In SRH Hochschule Heidelberg</h3>
					Germany
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<h3>Follow us</h3>
					<div class="featurette" id="about">
						<div class="col-md-12">
							<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i> <i
								class="fa fa-twitter-square fa-3x" aria-hidden="true"></i> <i
								class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i> <i
								class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="logincontroller">
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Login To Your Account</b>
						</h4>
					</div>
					<div class="modal-body" align="center">
						<form id="loginform" class="form-horizontal" role="form"
							name="loginform">

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i> </span> <input
									ng-model="username" type="email" class="form-control"
									name="email" value="" placeholder="username or email" required>

							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input
									ng-model="password" type="password" class="form-control"
									name="password" placeholder="password" required
									ng-minlength="5">
							</div>

							<div style="margin-bottom: 25px" class="input-group">

								<span style="color: red;"
									ng-show="loginform.email.$dirty && loginform.email.$error.required">Username
									is Required</span> <span
									ng-show="loginform.email.$dirty && loginform.email.$error.email">Invalid
									Email Address</span> <span
									ng-show="loginform.password.$dirty && loginform.password.$error.required">Password
									is Required!</span> <span
									ng-show="loginform.password.$dirty && loginform.password.$error.minlength">Password
									is too short!</span> <span style="color: red;">{{errormsg}}</span>
							</div>
							<div style="margin-top: 10px" class="form-group">
								<div class="col-sm-12 controls">
									<a id="btn-login" ng-click="loginaction($event)"
										class="btn btn-success" ng-disabled="loginform.$invalid">Login
									</a>
									<!-- <a id="btn-login" class="btn btn-success"
									href="views/tracking/template.html">Login </a> -->
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12 control">
									<div
										style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
										Don't have an account! <a href="#" data-toggle="modal"
											data-target="#signupmodal" data-dismiss="modal"> Sign Up
											Here </a><br> Forgot Password<a href="#" data-toggle="modal"
											data-target="#forgotModal" data-dismiss="modal"> click
											here </a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="signupmodal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Sign Up</b>
						</h4>
					</div>
					<div class="modal-body" align="center">
						<form id="signupform" class="form-horizontal" role="form"
							name="signupform">
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input type="text"
									class="form-control" name="firstname" value=""
									placeholder="First Name" ng-model="fname" required
									ng-pattern="/^[a-zA-Z ]*$/" />
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input type="text"
									class="form-control" name="lastname" value=""
									placeholder="Last Name" ng-model="lname" required
									ng-pattern="/^[a-zA-Z ]*$/" />
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input type="email"
									class="form-control" name="email" value=""
									placeholder="emailid" ng-model="emailid" required>
							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input type="password"
									class="form-control" name="password" placeholder="password"
									ng-model="createpassword" required ng-minlength="5">
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input
									ng-model="cnfpassword" type="password" class="form-control"
									name="password_confirm" placeholder="confirm password"
									validation-check="createpassword == cnfpassword" required />
							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span style="color: red;"
									ng-show="signupform.firstname.$dirty && signupform.firstname.$error.pattern">First
									Name is Required and only characters </span> <span
									ng-show="signupform.lastname.$dirty && signupform.lastname.$error.pattern">Last
									Name is Required and only characters</span> <span
									ng-show="signupform.email.$dirty && signupform.email.$error.required">Email
									is Required</span> <span
									ng-show="signupform.email.$dirty && signupform.email.$error.email">Invalid
									Email Address</span> <span
									ng-show="signupform.password.$dirty && signupform.password.$error.required">Password
									is Required!</span> <span
									ng-show="signupform.password.$dirty && signupform.password.$error.minlength">Password
									is too short!</span> <span
									ng-show="signupform.password_confirm.$dirty && signupform.password_confirm.$invalid">
									Passwords don't match. </span> <span style="color: red;">{{errormsgsignup}}</span>
							</div>
							<div style="margin-top: 10px" class="form-group">
								<div class="col-sm-12 controls">
									<a id="btn-login" href="#" class="btn btn-success"
										ng-click="signupAction($event)"
										ng-disabled="signupform.$invalid">signup</a>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12 control">
									<div
										style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
										Already have an account! <a href="#" data-toggle="modal"
											data-target="#myModal" data-dismiss="modal"> Login Here </a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="forgotModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Forgot Password</b>
						</h4>
					</div>
					<div class="modal-body" align="center">
						<form id="loginform" class="form-horizontal" role="form"
							name="forgotPasswordForm">

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input
									ng-model="forgotpsd" type="email" class="form-control"
									name="forgotemail" value="" placeholder="email" required>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span style="color: red;"
									ng-show="forgotPasswordForm.forgotemail.$dirty && forgotPasswordForm.forgotemail.$error.required">Email
									is Required</span> <span
									ng-show="forgotPasswordForm.forgotemail.$dirty && forgotPasswordForm.forgotemail.$error.email">Invalid
									email Entry</span> <span style="color: red;">{{errorForgot}}</span> <span
									style="color: green;">{{succForgot}}</span>
							</div>
							<div style="margin-top: 10px" class="form-group">
								<!-- Button -->

								<div class="col-sm-12 controls">
									<a id="btn-login" class="btn btn-success"
										ng-click="forgotAction($event)"
										ng-disabled="forgotPasswordForm.$invalid">Submit </a>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12 control">
									<div
										style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
										Don't have an account! <a href="#" data-toggle="modal"
											data-target="#signupmodal" data-dismiss="modal"> Sign Up
											Here </a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>