<style>
.true {
	display: inline;
}

.false {
	display: none;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}
</style>

<div class="forMedia">
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard/">Dashboard<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#"
						ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs"
	style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12"
		style="margin-top: 3%; font-size: xx-large; padding-right: 8%;">
		<b>Tracking</b>
	</div>
</div>
<div class="row" ng-controller="trackCtrl" align="center">
	<div
		class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
		style="padding: 0px;" align="center">
		<div class="row">
			<div class="col-xs-10 col-sm-7 col-md-7 col-lg-7 cardsBack"
				style="padding: 0px;">
				<form role="form" name="trackingpageForm">
					<div
						style="padding: 1%; background-color: #337ab7; color: white; width: 100%; margin-bottom: 1%;"
						align="center">
						<b>Daily Tracker</b>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.BloodPressure}}">
						<div class="form-group">
							<label> Blood Pressure :</label> <input type="text"
								class="form-control" style="display: inline; width: 50%;"
								ng-model="trackingData.BloodPressure"
								ng-change="trackingData.$save(BloodPressure)"
								name="bloodpressure" ng-pattern="/^\d{1,3}\/\d{1,3}$/">
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.Insulin}}">
						<div class="form-group">
							<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								Insulin :</label> <input type="text" class="form-control"
								style="display: inline; width: 50%;"
								ng-model="trackingData.Insulin"
								ng-change="trackingData.$save(Insulin)" name="insulin"
								ng-pattern="/^[0-9]+$/" maxlength="3" />
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.SugarCount}}">
						<div class="form-group">
							<label>&nbsp;&nbsp;&nbsp;&nbsp; Sugar Count :</label> <input
								type="text" class="form-control"
								style="display: inline; width: 50%;"
								ng-model="trackingData.SugarCount"
								ng-change="trackingData.$save(SugarCount)" name="sugarCount"
								ng-pattern="/^[0-9]+$/" maxlength="3" />
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.SleepingHrs}}">
						<div class="form-group">
							<label> Sleeping Hours :</label> <input type="time"
								class="form-control" style="display: inline; width: 50%;"
								ng-model="trackingData.SleepingHrs"
								ng-change="trackingData.$save(SleepingHrs)">
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.ExcersixeHrs}}">
						<div class="form-group">
							<label> Exercise Hours :</label> <input type="time"
								class="form-control" style="display: inline; width: 50%;"
								ng-model="trackingData.ExcersixeHrs"
								ng-change="trackingData.$save(ExcersixeHrs)">
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.EyeCheckup}}">
						<div class="form-group">
							<label>&nbsp;&nbsp;&nbsp;Eye CheckUp :</label> <input type="date"
								class="form-control" style="display: inline; width: 50%;"
								ng-model="trackingData.EyeCheckup"
								ng-change="trackingData.$save(EyeCheckup)">
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {{advsettigns.FootCheckup}}">
						<div class="form-group">
							<label>Foot CheckUp :</label> <input type="date"
								class="form-control" style="display: inline; width: 50%;"
								ng-model="trackingData.FootCheckup"
								ng-change="trackingData.$save(FootCheckup)">
						</div>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span
							ng-show="trackingpageForm.bloodpressure.$dirty && trackingpageForm.bloodpressure.$error.pattern">Please
							enter blood pressure in this 120/90 </span> <span
							ng-show="trackingpageForm.insulin.$dirty && trackingpageForm.insulin.$error.pattern">Please
							enter numbers only </span> <span
							ng-show="trackingpageForm.sugarCount.$dirty && trackingpageForm.sugarCount.$error.pattern">Please
							enter numbers only </span>
					</div>
				</form>
			</div>
			<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Reminders</b>
						</div>
						<div id="calendar"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Alerts</b>
						</div>
						<div style="max-height: 270px; overflow-y:scroll;padding: 0px;">
							<div id="alertsss" class="alertsMainDiv" align="left" ng-repeat="alerts in alertObj">
								<b>{{alerts.subjects}}</b>
								<div class="alertsInsidDiv" align="center">
									<b>{{alerts.times}}</b>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
