
<style>
.material-switch>input[type="checkbox"] {
	display: none;
}

.material-switch>label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 40px;
}

.material-switch>label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position: absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}

.material-switch>label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
	background: inherit;
	opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
	background: inherit;
	left: 20px;
}
</style>
<div class="forMedia" >
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard">Dashboard<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="active"><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#" ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs"
	style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12"
		style="margin-top: 3%; font-size: xx-large; padding-right: 8%;">
		<b>Reminders</b>
	</div>
</div>
<div class="row" ng-controller="reminderCtrl">
	<div
		class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
		<div class="row">
			<div
				class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
							<li><a href="#/schedule">Alerts</a></li>
							<li class="active"><a href="#/reminders">Reminders</a></li>
							<li><a href="#/dietplan">Diet</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="row" align="center" style="margin-left: 5%;">
			<div class="col-xs-11 col-sm-3 col-md-3 col-lg-3 cardsBack"
				style="padding: 0px;">
				<form role="form" name="reminderForm">
					<div
						style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
						align="center">
						<b>Set Alerts</b>
					</div>
					<div class="form-group">
						<label>Descriptions :</label> <input type="text"
							class="form-control" placeholder="descriptions" ng-model="desc"
							name="desc" required>
					</div>
					<div class="form-group">
						<label>Time :</label> <input type="time" class="form-control"
							placeholder="time" ng-model="remtime" id="remtime">
					</div>
					<div class="form-group">
						<label>Date :</label> <input type="date" class="form-control"
							placeholder="date" ng-model="remdate" id="remdate">
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span style="color: red;" 
							ng-show="reminderForm.desc.$dirty && reminderForm.desc.$error.required">Description
							is Required</span>
					</div>
					<button type="submit" class="btn btn-success"
						ng-click="saveReminder()" ng-disabled="reminderForm.$invalid">Save</button>
				</form>

			</div>

			<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8 cardsBack"
				align="center" style="padding: 0px;">

				<table class="table">
					<thead style="background-color: #337AB7;; color: white;">
						<tr>
							<th>Descriptions</th>
							<th>Time</th>
							<th>Date</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody ng-repeat="reminder in reminders">
						<tr style="color: black;border-bottom: 1px solid #337AB7;">
							<td>{{reminder.desc}}</td>
							<td>{{reminder.remtime}}</td>
							<td>{{reminder.remdate}}</td>
							<td><button type="button" class="btn btn-danger btn-sm"
									ng-click="reminders.$remove(reminder)">
									<i class="glyphicon glyphicon-trash"></i>
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>