<style>
.material-switch>input[type="checkbox"] {
	display: none;
}

.material-switch>label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 40px;
}

.material-switch>label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position: absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}

.material-switch>label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
	background: inherit;
	opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
	background: inherit;
	left: 20px;
}
</style>
<div class="forMedia">
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard">Dashboard<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="active"><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#" ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs"
	style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12"
		style="margin-top: 3%; font-size: xx-large; padding-right: 8%;">
		<b>Advance</b>
	</div>
</div>
<div class="row" ng-controller="advanceCtrl">
	<div
		class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

		<div
			class="col-xs-11 col-sm-6 col-md-4 col-sm-offset-1 col-md-offset-1 cardsBack" style="padding: 0px;">
			<div
				style="padding: 1%; background-color: #337ab7; color: white; width: 100%;margin-bottom: 1%;"
				align="center">
				<b>Advance Settings</b>
			</div>
			<ul class="list-group" ng-repeat="(adv,enabled) in advsetting">
				<li class="list-group-item" style="color: black;">{{adv}}
					<div class="material-switch pull-right">
						<input name="someSwitchOption001" type="checkbox"
							ng-model="advsetting[adv]" id="{{adv}}"> <label
							for="{{adv}}" class="label-success"></label>
					</div>
				</li>
			</ul>

			<button class="btn btn-success" ng-click="advsetting.$save(adv)">Save</button>
		</div>
		<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Reminders</b>
						</div>
						<div id="calendar"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Alerts</b>
						</div>
						<div style="max-height: 270px; overflow-y:scroll;padding: 0px;">
							<div id="alertsss" class="alertsMainDiv" align="left" ng-repeat="alerts in alertObj">
								<b>{{alerts.subjects}}</b>
								<div class="alertsInsidDiv" align="center">
									<b>{{alerts.times}}</b>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
	</div>
</div>