<div class="forMedia" style="background-image: none;">
	<nav class="navbar navbar-default sidebar" role="navigation" style="">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#/tracking">Tracking<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-home"></span></a></li>
					<li><a href="#/dashboard">Dashboard<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-user"></span></a>
					<li><a href="#/blogging">Blogs<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-th-list"></span></a></li>
					<li class="active"><a href="#/profile">Profile Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/advance">Advance Settings<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/reports">Shared Reports<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li><a href="#/schedule">Schedular<span
							style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
					<li class="divider"></li>
					<li ng-controller="logoutCtrl"><a href="#" ng-click="logoutUser()">Sign Out<span style="font-size: 16px;"
							class="pull-right hidden-xs glyphicon glyphicon-tags"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row visible-xs"
	style="background-color: #337ab7; color: white;" align="right">
	<div class="col-xs-12"
		style="margin-top: 3%; font-size: xx-large; padding-right: 8%;">
		<b>Profile</b>
	</div>
</div>
<div class="row" ng-controller="profileCtrl">
	<form role="form" name="profileForm">
		<div
			class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
			align="center" style="margin-left: 5%;">
			<div class="row">
				<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 cardsBack"
					style="padding: 0px;">
					<div
						style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
						align="center">
						<b>Reminders</b>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label> First Name :</label> <input type="text"
									class="form-control" ng-model="fname" name="firstname" required
									ng-pattern="/^[a-zA-Z ]*$/" />
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label>Last Name :</label> <input type="text"
									class="form-control" ng-model="lname" name="lastname" required
									ng-pattern="/^[a-zA-Z ]*$/" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label>DOB :</label> <input type="date" class="form-control"
									ng-model="dob" id="dob" required>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label for="maritalstatus">Sex :</label> <select
									class="form-control" ng-model="sex">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label for="maritalstatus">Marital Status:</label> <select
									class="form-control" id="maritalstatus"
									ng-model="maritalstatus">
									<option value="Single">Single</option>
									<option value="Married">Married</option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label for="bloodgrp">Blood Group :</label> <select
									class="form-control" id="bloodgrp" ng-model="bloodgrp">
									<option value="O+">O+</option>
									<option value="O-">O-</option>
									<option value="A+">A+</option>
									<option value="A-">A-</option>
									<option value="B+">B+</option>
									<option value="B-">B-</option>
									<option value="AB+">AB+</option>
									<option value="AB-">AB-</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label>Height :</label> <input type="text" class="form-control"
									ng-model="height" required name="height" ng-pattern="regex">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label>Weight :</label> <input type="text" class="form-control"
									ng-model="weight" name="weight" required ng-pattern="/^(\d)+$/">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group">
								<label>Report Sharing :</label> <input type="email"
									class="form-control" ng-model="rptshare">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
							style="padding-top: 3%;">
							<button type="button" class="btn btn-warning" data-toggle="modal"
								data-target="#resetModal">Change Password</button>
						</div>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span style="color: red;" 
							ng-show="profileForm.firstname.$dirty && profileForm.firstname.$error.pattern">First
							Name is Required(Only Characters) </span> <span style="color: red;"
							ng-show="profileForm.lastname.$dirty && profileForm.lastname.$error.pattern">Last
							Name is Required(Only Characters) </span> <span style="color: red;"
							ng-show="profileForm.dob.$dirty && profileForm.dob.$error.required">Date
							of Birth is required </span> <span style="color: red;"
							ng-show="profileForm.email.$dirty && profileForm.email.$error.email">Email
							is invalid </span> <span style="color: red;"
							ng-show="profileForm.weight.$dirty && profileForm.weight.$error.pattern">Weight
							should be in numbers </span> <span style="color: red;"
							ng-show="profileForm.height.$dirty && profileForm.height.$error.pattern">Height
							should be in (5'8" or just 5') </span>
							<span style="color: green;">{{successProfil}}</span>
							<span style="color: red;">{{errorProfil}}</span>
					</div>
					<button class="btn btn-success" ng-click="updateProfile($event)">Update</button>
				</div>

				<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Reminders</b>
						</div>
						<div id="calendar"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs 12 col-sm-12 col-md-12 col-lg-12 cardsBack"
						style="padding: 0px;">
						<div
							style="padding: 1%; background-color: #337ab7; color: white; width: 100%;"
							align="center">
							<b>Alerts</b>
						</div>
						<div style="max-height: 270px; overflow-y:scroll;padding: 0px;">
							<div id="alertsss" class="alertsMainDiv" align="left" ng-repeat="alerts in alertObj">
								<b>{{alerts.subjects}}</b>
								<div class="alertsInsidDiv" align="center">
									<b>{{alerts.times}}</b>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</form>
</div>

<div id="resetModal" class="modal fade" role="dialog">
	<form role="form" name="changePasswordForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">
						<b>Reset Password</b>
					</h4>
				</div>
				<div class="modal-body" align="center" ng-controller="changepsd">
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon">Old Password :</span> <input
							ng-model="oldpsd" type="password" class="form-control"
							name="oldpsd" ng-minlength="5" required>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon">New Password :</span> <input
							ng-model="newpsd" type="password" class="form-control"
							name="newpsd" validation-check="oldpsd != newpsd"
							ng-minlength="5" required>
							<span style="color: red;">{{chgerrmessage}}</span>
							<span style="color: green;">{{chgsccmessage}}</span>
					</div>
					
					<div style="margin-top: 10px" class="form-group">
						<div style="margin-bottom: 25px" class="input-group">
							<span
								ng-show="changePasswordForm.newpsd.$dirty && changePasswordForm.newpsd.$invalid">Password
								cannot be same</span>
						</div>
						<div class="col-sm-12 controls">
							<a id="btn-login" class="btn btn-success"
								ng-click="changePassword($event)"
								ng-disabled="changePasswordForm.$invalid">Change </a>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</form>
</div>